*html {
   margin: 0;
   padding: 0;
 }
 body {
   box-sizing: border-box;
   
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  
 }
 
 .main {
   position: relative;
   width: 100vw;
   height: 95vh;
   display: grid;
   grid-template-columns: ( 1fr 1fr 1fr 1fr );
   grid-template-rows: (3fr 1fr);
   overflow: hidden;
 }
 input[type='radio']{
  margin-top: -2rem;
}
 .container {
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 4;
   width: 400%;
   height: 85vh;
   display: flex;
   
  
   
 }
 
 .slide1 {
   width: 26%;
   height: 100%;
   margin: 1rem 1%;
   transition: transform 1s ease-in-out;
   
   
 }
 
 

 
 #sl1{
  background-image: url(assets/mem1-cat.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
   
  
 }
 #sl2{
   background-image: url(assets/software-engineer-develop.gif);
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
   
 }
 #sl3{
   background-image: url(assets/koding.gif);
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
 }
 #sl4{
   background-image: url(assets/ILS.gif);
 
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
 }
 
 .text {
   position: relative;
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 4;
   /*color:rgb(44, 42, 42);*/
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   font-size: 2em;
   display: flex;
   flex-direction: row;
   text-align:start;
   vertical-align: middle;
   height: 6rem;
   width: 400%;
   z-index: 20;
   overflow: hidden;
   margin-left: 4%;
   
  
     
 }
 
 .slide__text{
   position: relative;
   display: block;
   z-index: 20;
   line-height: 2rem;
   width: 26%;
   overflow: hidden;
   transition: transform 1s ease-in-out;
   
   
 }

 

 .navigator {
   position: relative;
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 3;
   grid-column-end: 4;
   justify-self:end;
   margin-right:10%;
   display: flex;
   flex-direction: row;
   
   z-index: 50;
 }
 
 .navigator label {
   position: relative;
   width: 1.2rem;
   height: 1.2rem;
   border-radius: 50%;
   background-color: black;
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 0.5rem;
   cursor: pointer;
   align-self: center;
   transition: background-color 2s;
   z-index: 50;
 }
 
.navigator .circle{
  position: relative;
  margin-left: -1rem;
  margin-top: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color:transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0.5rem;
  cursor: pointer;
  align-self: center;
  transition: background-color 2s;
  z-index: 20;
}



 label:hover {
   
   background-color: rgb(117, 167, 170);
   box-shadow: 0 0 2px 2px #eff0db,
   0px 0px 3px 5px #a39e8b,
   0px 0px 4px 5px rgb(180, 180, 155);
 }
 
 
 #slider2:checked ~ .container .slide{
   transform: translate(-109%);
   
   
 }
 #slider3:checked ~ .container .slide{
   transform: translate(-217%);
 }
 #slider4:checked ~ .container .slide{
  
   transform: translate(-326%);
 }
 
 input[type="radio"] {
   position: relative;
   z-index: -1;
   opacity: 0;
 }
 

#slider2:checked ~ .text .item1 {
  color: transparent;
  
}

#slider3:checked ~ .text .item1 {
  
  color: transparent;
  
}
#slider4:checked ~ .text .item1 {
 
  color: transparent;
  
}

#slider2:checked ~ .text .item3{
  transition: color 0.5s;
  color: transparent;
  
}
#slider3:checked ~ .text .item4 {
  transition: color 0.5s;
  color: transparent;
  
}
#slider4:checked ~ .text .item3 {
  transition: color 0.5s;
  color: transparent;
  
}
#slider3:checked ~ .text .item2{
  transition: color 0.5s;
  color: transparent;
  
}
#slider1:checked ~ .text .item2{
  transition: color 0.5s;
  color: transparent;
  
}
#slider1:checked ~ .text .item3{
  transition: color 0.5s;
  color: transparent;
  
}
#slider1:checked ~ .text .item4{
  transition: color 0.5s;
  color: transparent;
  
}
#slider1:checked ~ .text .item1{
 transition:color;
 transition-delay: 2.5s;
}

#slider1:checked ~ .text .item1{
 
  animation-name:coloring;
  animation-delay: 0.5s;
  animation-duration: 3s;
  
}
 #slider2:checked ~ .text .item2 {
   transform: translate(-100%);
   animation-name:coloring;
   animation-delay: 0.2s;
   animation-duration: 3s;
   
   
 }

 
 #slider3:checked ~ .text .item3 {
   transform: translate(-200%);
   animation-name:coloring;
   animation-delay: 0.2s;
   animation-duration: 3s;
   
 }


 #slider4:checked ~ .text .item4 {
   
   transform: translate(-300%);
   animation-name:coloring;
   animation-delay: 0.2s;
   animation-duration: 3s;
   
 }
 @keyframes coloring{
  from{
    color:transparent;
  }
  to{
  color:rgb(44, 42, 42);
  }
}
 
 
 #slider1:checked ~ .navigator label:nth-child(1),
 #slider2:checked ~ .navigator label:nth-child(2),
 #slider3:checked ~ .navigator label:nth-child(3),
 #slider4:checked ~ .navigator label:nth-child(4){
background-color: rgb(67, 170, 211);
 }
 
 
   
 

@media (max-width:1024px){
  .main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow: hidden;
   }
   input[type='radio']{
     margin-top: -5rem;
   }
   .container{
     position: relative;
     margin-top: -10%;
   }
  
  .navigator{
    position: relative;
    margin-top: -30%;
    align-self: center;
  }
  .text{
    margin-top: 1rem;
    height: 6rem;
    font-size: 2rem;
   
   
  }
  p{
    vertical-align: middle;
    line-height: 2.2rem;
    
  }
}
@media (max-width:1024px) and (max-height:768px){
  .main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow: hidden;
   }
   input[type='radio']{
     margin-top: -3rem;
   }
   .container{
     position: relative;
     margin-top:0%;
   }
  
  .navigator{
    position: relative;
    margin-top: 0rem;
    align-self: center;
  }
  .text{
    margin-top: 0rem;
    height: 6rem;
    font-size: 2rem;
   
   
  }
  p{
    vertical-align: middle;
    line-height: 2.2rem;
    
  }
}


 
 
 @media (max-width:1000px) {
  .main{
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
  }
  input[type='radio']{
    margin-top: -2rem;
  }
  .container{
    position: relative;
    margin-top: -8%;
  }
 .navigator{
   margin-top:-3%;
 }
 .text{
  margin-top: 0rem;
   height: 6rem;
   font-size: 2rem;
  
  
 }
 p{
   vertical-align: middle;
   line-height: 2.2rem;
   
 }
}
@media (max-width:850px) {
  .main{
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
  }
  input[type='radio']{
    margin-top: -5%;
  }
  .container{
    position: relative;
    margin-top: -20%;
  }
 .navigator{
   margin-top:-25%;
 }
 .text{
  margin-top: 0rem;
   height: 6rem;
   font-size: 2rem;
  
  
 }
 p{
   vertical-align: middle;
   line-height: 2.2rem;
   
 }
}


@media  (max-width:768px) and (max-height:1024px){
  .main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   }
   input[type='radio']{
     margin-top: -2rem;
   }

   .container{
     position: relative;
  
     margin-top: -20%;
   }
  
  .navigator{
    position: relative;
    margin-top: -25%;
    align-self: center;
  }
  .text{
    margin-top: 0rem;
    height: 6rem;
    font-size: 2rem;
   
   
  }
  p{
    vertical-align: middle;
    line-height: 2.2rem;
    
  }
}
@media (max-width:480px) {
  .main{
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
  }
  input[type='radio']{
    margin-top: -2rem;
  }

  .container{
    margin-top: -50%;
  }
 .navigator{
   margin-top:-50%;
 }
 .text{
  margin-top: 0rem;
   height: 6rem;
   font-size: 2rem;
  
  
 }
 p{
   vertical-align: middle;
   line-height: 2.2rem;
   
 }
}
